<% provide(:title, t(".title")) %>
<div class="text-center mb-5">
    <h1><%= t(".title") %></h1>
</div>
<%= link_to t(".btn_create_book"), new_employees_book_path, class: "btn btn-outline-primary mb-3" %>
<%= will_paginate %>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col"><%= t(".label_index") %></th>
            <th scope="col"><%= t(".label_name") %></th>
            <th scope="col"><%= t(".label_author") %></th>
            <th scope="col"><%= t(".label_publisher") %></th>
            <th scope="col"><%= t(".label_book_type_id") %></th>
            <th scope="col"><%= t(".label_price") %></th>
            <th scope="col"><%= t(".label_status") %></th>
            <th scope="col"><%= t(".label_show") %></th>
        </tr>
    </thead>
    <tbody>
        <%= render "book", object: @books %>
    </tbody>
</table>
<p><%= will_paginate %></p>
