<% provide(:title, t("books.show.title")) %>
<div class = "text-center mb-5">
    <h1><%= t("books.show.title") %></h1>
</div>
<div class = "row gx-5 justify-content-center">
    <div class = "col-lg-8 col-xl-6">
        <div class="form-floating mb-3">
            <div class="form-control" id="book_name"><%= @book.name %> </div>
            <label for="book_name"><%= t("books.form.label_name") %></label>
        </div>
        <div class="form-floating mb-3">
            <div class="form-control" id="book_author"><%= @book.author %> </div>
            <label for="book_author"><%= t("books.form.label_author") %></label>
        </div>
        <div class="form-floating mb-3">
            <div class="form-control" id="book_publisher"><%= @book.publisher %> </div>
            <label for="book_publisher"><%= t("books.form.label_publisher") %></label>
        </div>
        <div class="form-floating mb-3">
            <div class="form-control" id="book_book_type"><%= @book_types.key(@book.book_type_id) %></div>
            <label for="book_type"><%= t("books.form.label_book_type_id") %></label>
        </div>
        <div class="form-floating mb-3">
            <div class="form-control" id="book-price"><%= @book.price %> </div>
            <label for="book_price"><%= t("books.form.label_price") %></label>
        </div>
        <div class="form-floating mb-3">
            <div class="form-control" id="book_status"><%= @book.status %> </div>
            <label for="book_status"><%= t("books.form.label_status") %></label>
        </div>

         <div class = "d-grid">
            <%= link_to t("employees.books.book.btn_edit"), edit_employees_book_path(@book), class: "btn btn-primary inline" %>
            <%= link_to t("employees.books.book.btn_delete"), employees_book_path(@book), method: :delete,
                data: { confirm: t(".confirm")}, class: "btn btn-danger inline mt-3" %>
        </div>
    </div>
</div>

