<% provide(:title, t(".title")) %>
    
<% unless logged_in? %>
    <div class="center jumbotron">
        <div class="text-center mb-5">
            <div>
                <h1><%= t(".text_welcome") %></h1>
                <h4 class = "mt-5 text-info"><%= t(".text_signup_1") %></h4>
                <%= link_to t(".btn_signup") , signup_path ,class: "btn btn-lg btn-primary mt-2"%>    
                <h4 class = "mt-2 text-info"><%= t(".text_signup_2") %></h4>
            </div> 
        </div>
    </div>
<% else %>
    <% if current_user.Employee? %>
        <%= link_to t(".btn_all_books"), employees_books_path, class: "btn btn-outline-primary" %>
        <%= link_to t(".btn_all_book_cards"), employees_book_cards_path, class: "btn btn-outline-primary" %>
    <% else %>
        <%= link_to t(".btn_all_books"), books_path, class: "btn btn-outline-primary" %>
        <%= link_to t(".btn_all_book_cards"), book_cards_path, class: "btn btn-outline-primary" %>
    <% end %>

<% end %>
