<% provide(:title, t("employees.book_cards.index.title")) %>

<div class="text-center mb-5">
    <h1><%= t("employees.book_cards.index.title") %></h1>
</div>
<%= will_paginate %>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col"><%= t("employees.book_cards.label_client_id") %></th>
            <th scope="col"><%= t("employees.book_cards.label_employee_id") %></th>
            <th scope="col"><%= t("employees.book_cards.label_status") %></th>
            <th scope="col"><%= t("employees.book_cards.label_return_date") %></th>
        </tr>
    </thead>
    <tbody>
        <% @book_cards.map do |bc| %>
            <%= render "shared/book_card", object: bc %>
        <% end %>    
    </tbody>
</table>
<p><%= will_paginate %></p>

