<tr>
    <th scope="row"><%= book.id %></th>
    <td><%= link_to book.name, employees_book_path(book), class: "btn" %></td>
    <td><%= book.author %></td>
    <td><%= book.publisher %></td>
    <td><%= @book_types.key(book.book_type_id) %></td>
    <td><%= book.price %></td>
    <td><%= book.status %></td>
    <td>
        <%= link_to "", book_path(book), class: "bi bi-eye-fill text-dark" %>
    </td>
</tr>

